
html{ 
        width: 960px;
}




    .navbar li{
        text-align: center;
        display: inline-block;
        background-color:rgb(94, 143, 106);;
        color:white;
        font-size:70px;
        font-family:fantasy'Courier New', Courier, monospace
        
        

        
        
        
        cursor pointer;
    }
    



 	body{
        background-color:rgb(94, 143, 106);
    }

  
  
    
  


.div1{
    display: flex;
    border: 20px solid orange;
    height:300px;
    flex-direction: row;
    position: relative;
    background-color:rgb(94, 143, 106);
    padding: 30px;
    border-radius: 30px;
    width: 1400px;
    margin: right 50px; ;

}  
    





    







  .img-ppic {
    width:500px;
    height: 500px;
    
}



h1{
    /* Fullstack developer text */
    font-size: 100px;
    
}


h2 {
    /* about me header text */
    
    font-size: 60px;
    
}


h3{
    font-size: 60px;
}





button {
    background-color:orange;
    height:100px;
    width:200px;
    border:blue;
    font-size:40px;
    cursor:pointer;
    font-weight:bold;
    box-shadow: 10px 10px 10px black;
    transition:box-shadow 0.15s;
    display: inline;
}



@media screen {
    min-width: ; 375;

    
}
    